Raspberry/estacion.json
[
    {
        "id": "8b40e450.7eb768",
        "type": "tab",
        "label": "Estación de Monitoreo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2576f32d.d5704c",
        "type": "serial in",
        "z": "8b40e450.7eb768",
        "name": "Arduino",
        "serial": "6c7a9c64.470f24",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "3436820a.28f09e",
                "92e7557b.2260c8"
            ]
        ]
    },
    {
        "id": "3436820a.28f09e",
        "type": "json",
        "z": "8b40e450.7eb768",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "c1dd75e9.6b6798"
            ]
        ]
    },
    {
        "id": "c1dd75e9.6b6798",
        "type": "simpletime",
        "z": "8b40e450.7eb768",
        "name": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "a2c118.1b5526e8"
            ]
        ]
    },
    {
        "id": "8964cc22.511ef8",
        "type": "file",
        "z": "8b40e450.7eb768",
        "name": "Log.csv",
        "filename": "/home/pi/Estacion/log.csv",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 680,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "cbeba8f2.51d93",
        "type": "file",
        "z": "8b40e450.7eb768",
        "name": "Ultimo dato",
        "filename": "/home/pi/Estacion/last.csv",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 690,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "7b0eea84.16bb3c",
        "type": "function",
        "z": "8b40e450.7eb768",
        "name": "Wind Direction Image",
        "func": "var winddir = msg.payload.WindDirection;\n\nif (winddir === 0){\n    msg.payload = \"/windn.png\";\n} else if (winddir > 0 && winddir < 90){\n    msg.payload = \"/windne.png\";\n} else if (winddir == 90){\n    msg.payload = \"/winde.png\";\n} else if (winddir > 90 && winddir < 180){\n    msg.payload = \"/windse.png\";\n} else if (winddir == 180){\n    msg.payload = \"/winds.png\";\n} else if (winddir > 180 && winddir < 270){\n    msg.payload = \"/windsw.png\";\n} else if (winddir == 270){\n    msg.payload = \"/windw.png\";\n} else if (winddir > 270 && winddir < 360){\n    msg.payload = \"/windnw.png\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 720,
        "wires": [
            [
                "1e345db3.ec1682"
            ]
        ]
    },
    {
        "id": "129ce974.69cf47",
        "type": "csv",
        "z": "8b40e450.7eb768",
        "name": "CSV sin nombres",
        "sep": ";",
        "hdrin": "",
        "hdrout": false,
        "multi": "one",
        "ret": "\\n",
        "temp": "DateTime,WindDirection,WindSpeed,Rain,Pressure,TempBMP280,HumAM2315,TempAM2315,HumDHT22,TempDHT22,TempDS18B20,CO,SO2,NO2,PM25",
        "skip": "0",
        "strings": true,
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "8964cc22.511ef8"
            ]
        ]
    },
    {
        "id": "a2c118.1b5526e8",
        "type": "function",
        "z": "8b40e450.7eb768",
        "name": "Correción + DateTime",
        "func": "var rainIn = context.get(\"rain\")||0;\nvar count = context.get(\"count\")||0;\nvar rainHour = context.get(\"rainHour\")||0;\n\nif(count < 60) {\n    rainIn += msg.payload.Rain;\n    count++;\n    context.set(\"rain\", rainIn);\n    context.set(\"count\", count);\n} else {\n    rainIn += msg.payload.Rain;\n    context.set(\"rain\", 0);\n    context.set(\"count\", 0);\n    rainHour = rainIn;\n}\n\nif (rainHour === 0) {\n    msg.payload.Rain = 0\n} else {\n    msg.payload.Rain = rainHour;\n}\n\nvar DateTime = msg.myyear + \"-\" + \n    msg.mymonthn + \"-\" +\n    msg.mydom + \" \" + \n    msg.mytimes;\nmsg.payload.DateTime = DateTime;\n\nmsgCO = 0.0025 * (msg.payload.CO) + 5.626;\nif (msgCO < 0.0) {\n    msgCO = 0.0;\n}\nmsg.payload.CO = parseFloat(msgCO.toFixed(2));\nmsgPM = 0.233 * (msg.payload.PM25) + 5.01;\nmsg.payload.PM25 = parseFloat(msgPM.toFixed(2));\nmsgSO2 = msg.payload.SO2;\nmsg.payload.SO2 = parseFloat(msgSO2.toFixed(2));\nmsgNO2 = msg.payload.NO2;\nmsg.payload.NO2 = parseFloat(msgNO2.toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "b5fecf3e.49b7c8"
            ]
        ]
    },
    {
        "id": "ffaa3350.634a",
        "type": "fs-ops-access",
        "z": "8b40e450.7eb768",
        "name": "Check File",
        "path": "/home/pi/Estacion/",
        "pathType": "str",
        "filename": "log.csv",
        "filenameType": "str",
        "read": true,
        "write": true,
        "throwerror": true,
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "129ce974.69cf47",
                "a697980a.6e98e8"
            ],
            [
                "7014c3f3.7f041c"
            ]
        ],
        "outputLabels": [
            "todo",
            "error"
        ]
    },
    {
        "id": "7014c3f3.7f041c",
        "type": "csv",
        "z": "8b40e450.7eb768",
        "name": "CSV con nombres",
        "sep": ";",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\n",
        "temp": "DateTime,WindDirection,WindSpeed,Rain,Pressure,TempBMP280,HumAM2315,TempAM2315,HumDHT22,TempDHT22,TempDS18B20,CO,SO2,NO2,PM25",
        "skip": "0",
        "strings": true,
        "x": 490,
        "y": 1120,
        "wires": [
            [
                "8964cc22.511ef8"
            ]
        ]
    },
    {
        "id": "a697980a.6e98e8",
        "type": "csv",
        "z": "8b40e450.7eb768",
        "name": "CSV último dato",
        "sep": ";",
        "hdrin": "",
        "hdrout": false,
        "multi": "one",
        "ret": "\\n",
        "temp": "DateTime,WindDirection,WindSpeed,Rain,Pressure,TempBMP280,HumAM2315,TempAM2315,HumDHT22,TempDHT22,TempDS18B20,CO,SO2,NO2,PM25",
        "skip": "0",
        "strings": true,
        "x": 480,
        "y": 1160,
        "wires": [
            [
                "cbeba8f2.51d93"
            ]
        ]
    },
    {
        "id": "8c0697f2.a3b61",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "Captura",
        "info": "Lectura de datos desde Arduino mediante puerto Serial,\nenviado en formato json y los envía como {payload}",
        "x": 70,
        "y": 80,
        "wires": []
    },
    {
        "id": "cb18bc47.e59cc8",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "Funciones",
        "info": "Funciones escritas en JS que captura el dato\nrequerido, y les modifica el formato para poder\nser mostrados por la UI de Node-RED.",
        "x": 200,
        "y": 180,
        "wires": []
    },
    {
        "id": "59d2d35d.61db64",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "Dashboard",
        "info": "Sección donde se generan los dashboard que se\nmuestran en la UI de Node-RED.\n\nel módulo de dashboard se necesita descargar",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "b73d2ab6.1c75f8",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "Link",
        "info": "Función nativa de Node-RED que permite realizar una\nsimple comunicación hacia otro nodo sin necesidad de\nunirlos por la \"línea\".\n\nEsta corresponde a la salida, la cual debe ser \npareada con una entrada.",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "12140c18.9b672c",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "Parseo",
        "info": "Función que permite parsear el mensaje json enviado\na diversos {payloads}",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "c5eece02.ca4e78",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "Link",
        "info": "Salida del link, dentro de éste se puede declarar a\ncual link de entrada corresponde",
        "x": 70,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ae3ce737.847d",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "DateTime",
        "info": "\"simpletime\" es una módulo descargable de Node-RED\nque permite, de forma simple obtener diversos tipos\nde mensajes con la fecha y hora.\n\nLa función \"DateTime\" parsea lo recibido desde el \nnodo \"simpletime\" para construir un mensaje con el\nformato \"YYYY-MM-DD hh:mm:ss\"",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "ed200987.2831e",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "CheckFile",
        "info": "El nodo \"Check File\" revisa si el archivo \"log.csv\"\nexiste, y dependiendo de su resultado genera el \narchivo o sigue agregando datos al archivo existente.",
        "x": 280,
        "y": 1060,
        "wires": []
    },
    {
        "id": "fcfa6cc1.d4bca",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "CSV",
        "info": "Diversos constructores para generar el archivo CSV.",
        "x": 490,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d3e9711a.c931d8",
        "type": "comment",
        "z": "8b40e450.7eb768",
        "name": "Save File",
        "info": "Nodos que guardan los archivos dentro de la carpeta\nseleccionada.",
        "x": 680,
        "y": 1060,
        "wires": []
    },
    {
        "id": "9f08e689.eec19",
        "type": "debug",
        "z": "8b40e450.7eb768",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 270,
        "y": 1220,
        "wires": []
    },
    {
        "id": "36e664d6.89537c",
        "type": "xmpp out",
        "z": "8b40e450.7eb768",
        "name": "",
        "server": "abe038bd.bd61c",
        "to": "nodo-aws@binarylamp.cl",
        "join": false,
        "sendObject": false,
        "x": 250,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b5fecf3e.49b7c8",
        "type": "link out",
        "z": "8b40e450.7eb768",
        "name": "Salida de datos",
        "links": [
            "3fd5e53b.3cdd0a",
            "3b5bfb73.7d6a6c"
        ],
        "x": 755,
        "y": 120,
        "wires": []
    },
    {
        "id": "3fd5e53b.3cdd0a",
        "type": "link in",
        "z": "8b40e450.7eb768",
        "name": "xmpp & csv",
        "links": [
            "b5fecf3e.49b7c8"
        ],
        "x": 55,
        "y": 1100,
        "wires": [
            [
                "ffaa3350.634a",
                "36e664d6.89537c",
                "9f08e689.eec19"
            ]
        ]
    },
    {
        "id": "3b5bfb73.7d6a6c",
        "type": "link in",
        "z": "8b40e450.7eb768",
        "name": "funciones & dashboard",
        "links": [
            "b5fecf3e.49b7c8"
        ],
        "x": 35,
        "y": 600,
        "wires": [
            [
                "a4658b30.e733b",
                "7b706a2d.46f824",
                "11adf4f5.854223",
                "4e182703.e15f7",
                "649c8005.3531d",
                "7b0eea84.16bb3c",
                "5b5a57ce.c5c4e8",
                "759284f1.24cccc"
            ]
        ]
    },
    {
        "id": "a4658b30.e733b",
        "type": "function",
        "z": "8b40e450.7eb768",
        "name": "AM2315",
        "func": "var temperatura = {payload: msg.payload.TempAM2315, topic: \"AM2315\"};\nvar humedad = {payload: msg.payload.HumAM2315, topic: \"AM2315\"};\n\nmsgTemp = {};\nmsgTemp = msg.payload.TempAM2315.toString();\nmsgTemp += \" °C\";\n\nmsgHum = {};\nmsgHum = msg.payload.HumAM2315.toString();\nmsgHum += \" %\";\n\nvar temp = {payload: msgTemp};\nvar hum = {payload: msgHum};\n\nreturn [temperatura, humedad, temp, hum];",
        "outputs": 4,
        "noerr": 0,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "18cf855.8c1817b",
                "7818aa12.dcec64"
            ],
            [
                "3e419a71.94b32e",
                "4ccbf694.b6592"
            ],
            [
                "c9475833.8a19c8"
            ],
            [
                "c526523f.18e128"
            ]
        ],
        "outputLabels": [
            "Temperatura",
            "Humedad",
            "Texto Temp",
            "Texto Hum"
        ]
    },
    {
        "id": "3e419a71.94b32e",
        "type": "ui_chart",
        "z": "8b40e450.7eb768",
        "name": "",
        "group": "48b8d719.dd9e68",
        "order": 2,
        "width": 17,
        "height": 6,
        "label": "Sensores de humedad ambiental",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "Esperando datos",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#ff8040",
            "#000000",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 460,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "18cf855.8c1817b",
        "type": "ui_chart",
        "z": "8b40e450.7eb768",
        "name": "",
        "group": "5f717930.432038",
        "order": 2,
        "width": 17,
        "height": 6,
        "label": "Sensores de temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "Esperando datos",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 430,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7818aa12.dcec64",
        "type": "ui_gauge",
        "z": "8b40e450.7eb768",
        "name": "",
        "group": "5f717930.432038",
        "order": 1,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura actual",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "4ccbf694.b6592",
        "type": "ui_gauge",
        "z": "8b40e450.7eb768",
        "name": "",
        "group": "48b8d719.dd9e68",
        "order": 1,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "Humedad actual",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#0080c0"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "c9475833.8a19c8",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "8a7fd06b.fec98",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AM2315:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 320,
        "wires": []
    },
    {
        "id": "c526523f.18e128",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "8198e827.6602a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AM2315:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "5e9d7bd6.108aa4",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "8a7fd06b.fec98",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DHT22:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "b812495d.e9ee28",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "8198e827.6602a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DHT22:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 460,
        "wires": []
    },
    {
        "id": "7b706a2d.46f824",
        "type": "function",
        "z": "8b40e450.7eb768",
        "name": "DHT22",
        "func": "var temperatura = {payload: msg.payload.TempDHT22, topic: \"DHT22\"};\nvar humedad = {payload: msg.payload.HumDHT22, topic: \"DHT22\"};\n\nmsgTemp = {};\nmsgTemp = msg.payload.TempDHT22.toString();\nmsgTemp += \" °C\";\n\nmsgHum = {};\nmsgHum = msg.payload.HumDHT22.toString();\nmsgHum += \" %\";\n\nvar temp = {payload: msgTemp};\nvar hum = {payload: msgHum};\n\nreturn [temperatura, humedad, temp, hum];",
        "outputs": 4,
        "noerr": 0,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "18cf855.8c1817b"
            ],
            [
                "3e419a71.94b32e"
            ],
            [
                "5e9d7bd6.108aa4"
            ],
            [
                "b812495d.e9ee28"
            ]
        ],
        "outputLabels": [
            "Temperatura",
            "Humedad",
            "Texto Temp",
            "Texto Hum"
        ]
    },
    {
        "id": "11adf4f5.854223",
        "type": "function",
        "z": "8b40e450.7eb768",
        "name": "DS18B20",
        "func": "var temperatura = {payload: msg.payload.TempDS18B20, topic: \"DS18B20\"};\n\nmsgTemp = {};\nmsgTemp = msg.payload.TempDS18B20.toString();\nmsgTemp += \" °C\";\n\nvar temp = {payload: msgTemp};\n\nreturn [temperatura, temp];",
        "outputs": 2,
        "noerr": 0,
        "x": 200,
        "y": 500,
        "wires": [
            [
                "18cf855.8c1817b"
            ],
            [
                "8de16cfc.f91af"
            ]
        ],
        "outputLabels": [
            "Temperatura",
            "Texto Temp"
        ]
    },
    {
        "id": "8de16cfc.f91af",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "8a7fd06b.fec98",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DS18B20:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "5dc072d7.644524",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "8a7fd06b.fec98",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BMP280:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 400,
        "y": 560,
        "wires": []
    },
    {
        "id": "4e182703.e15f7",
        "type": "function",
        "z": "8b40e450.7eb768",
        "name": "BMP280",
        "func": "var temperatura = {payload: msg.payload.TempBMP280, topic: \"BMP280\"};\n\nmsgTemp = {};\nmsgTemp = msg.payload.TempBMP280.toString();\nmsgTemp += \" °C\";\n\nvar temp = {payload: msgTemp};\n\nreturn [temperatura, temp];",
        "outputs": 2,
        "noerr": 0,
        "x": 200,
        "y": 560,
        "wires": [
            [
                "18cf855.8c1817b"
            ],
            [
                "5dc072d7.644524"
            ]
        ]
    },
    {
        "id": "649c8005.3531d",
        "type": "function",
        "z": "8b40e450.7eb768",
        "name": "Medio Ambiente",
        "func": "var windDirection = {payload: msg.payload.WindDirection};\n\nmsgWS = msg.payload.WindSpeed.toString();\nmsgWS += \" Km/h\";\nvar windSpeed = {payload: msgWS};\n\nmsgPS = msg.payload.Pressure.toString();\nmsgPS += \" hPa\";\nvar pressure = {payload: msgPS};\n\nreturn [windSpeed, windDirection, pressure];",
        "outputs": 3,
        "noerr": 0,
        "x": 220,
        "y": 660,
        "wires": [
            [
                "93897614.c95878"
            ],
            [
                "2d07ee27.7f16b2"
            ],
            [
                "93d34c7d.5ed038"
            ]
        ],
        "outputLabels": [
            "Wind Speed",
            "Wind Direction",
            "Pressure"
        ]
    },
    {
        "id": "93897614.c95878",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "c5a925b1.644538",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Velocidad del viento:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "2d07ee27.7f16b2",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "c5a925b1.644538",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dirección del viento:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "93d34c7d.5ed038",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "c5a925b1.644538",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Presión atmosférica:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "5b5a57ce.c5c4e8",
        "type": "function",
        "z": "8b40e450.7eb768",
        "name": "Calidad del Aire",
        "func": "msgPM = msg.payload.PM25.toString();\nmsgPM += \" ug/m3\";\nmsgCO = msg.payload.CO.toString();\nmsgCO += \" ug/m3\"\n//msgCO = msgCO.toFixed(2);\nmsgSO2 = msg.payload.SO2.toString();\n//msgSO2 = msgSO2.toFixed(2);\nmsgNO2 = msg.payload.NO2.toString();\n//msgNO2 = msgNO2.toFixed(2);\nvar CO = {payload: msgCO, topic: \"CO\"};\nvar SO2 = {payload: msgSO2};\nvar NO2 = {payload: msgNO2};\nvar PM = {payload: msgPM, topic: \"PM 2.5\"};\n\nreturn [CO, SO2, NO2, PM];\n",
        "outputs": 4,
        "noerr": 0,
        "x": 220,
        "y": 840,
        "wires": [
            [
                "7bbf6e8.8d07c9",
                "c76b4dae.711e18"
            ],
            [
                "53dc21ae.c06f68"
            ],
            [
                "756a5d1f.48e3f4"
            ],
            [
                "3adcdaf6.87bb8e",
                "35a9e9d5.345c8e"
            ]
        ],
        "outputLabels": [
            "CO",
            "SO2",
            "NO2",
            "PM2,5"
        ]
    },
    {
        "id": "7bbf6e8.8d07c9",
        "type": "ui_chart",
        "z": "8b40e450.7eb768",
        "name": "",
        "group": "34cc840d.ecb37c",
        "order": 2,
        "width": 17,
        "height": 6,
        "label": "CO en ug/m3",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c76b4dae.711e18",
        "type": "ui_gauge",
        "z": "8b40e450.7eb768",
        "name": "",
        "group": "34cc840d.ecb37c",
        "order": 1,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "CO",
        "label": "ug/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "40",
        "x": 570,
        "y": 760,
        "wires": []
    },
    {
        "id": "53dc21ae.c06f68",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "36425290.5bb2c6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SO2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 800,
        "wires": []
    },
    {
        "id": "756a5d1f.48e3f4",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "36425290.5bb2c6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "NO2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 840,
        "wires": []
    },
    {
        "id": "3adcdaf6.87bb8e",
        "type": "ui_chart",
        "z": "8b40e450.7eb768",
        "name": "",
        "group": "9c501d0.50fb26",
        "order": 2,
        "width": 17,
        "height": 6,
        "label": "PM2.5 en ug/m3",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 420,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "35a9e9d5.345c8e",
        "type": "ui_gauge",
        "z": "8b40e450.7eb768",
        "name": "",
        "group": "9c501d0.50fb26",
        "order": 1,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "PM2.5",
        "label": "ug/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 880,
        "wires": []
    },
    {
        "id": "759284f1.24cccc",
        "type": "function",
        "z": "8b40e450.7eb768",
        "name": "DateTime",
        "func": "var dateTime = msg.payload.DateTime;\nmsg = {payload: dateTime}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 920,
        "wires": [
            [
                "4dba9e4b.3671f8"
            ]
        ]
    },
    {
        "id": "4dba9e4b.3671f8",
        "type": "ui_text",
        "z": "8b40e450.7eb768",
        "group": "8b13c2ef.3c2538",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DateTime:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 410,
        "y": 920,
        "wires": []
    },
    {
        "id": "1e345db3.ec1682",
        "type": "ui_template",
        "z": "8b40e450.7eb768",
        "group": "c5a925b1.644538",
        "name": "Wind Direction Template",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<p>&nbsp;</p>\n<p><img style=\"display: block; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto;\" src={{msg.payload}} width=\"92\" height=\"92\"/></p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 490,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "92e7557b.2260c8",
        "type": "debug",
        "z": "8b40e450.7eb768",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "6c7a9c64.470f24",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false,
        "responsetimeout": "10000"
    },
    {
        "id": "abe038bd.bd61c",
        "type": "xmpp-server",
        "z": "",
        "user": "nodo-unab@binarylamp.cl/test",
        "nickname": ""
    },
    {
        "id": "48b8d719.dd9e68",
        "type": "ui_group",
        "z": "",
        "name": "HUMEDAD AMBIENTAL",
        "tab": "99b52889.c22d4",
        "order": 3,
        "disp": true,
        "width": 22,
        "collapse": false
    },
    {
        "id": "5f717930.432038",
        "type": "ui_group",
        "z": "",
        "name": "TEMPERATURA",
        "tab": "99b52889.c22d4",
        "order": 2,
        "disp": true,
        "width": 22,
        "collapse": false
    },
    {
        "id": "8a7fd06b.fec98",
        "type": "ui_group",
        "z": "",
        "name": "Temperaturas por sensores",
        "tab": "99b52889.c22d4",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8198e827.6602a8",
        "type": "ui_group",
        "z": "",
        "name": "Humedad ambiental por sensores",
        "tab": "99b52889.c22d4",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c5a925b1.644538",
        "type": "ui_group",
        "z": "",
        "name": "Datos de medio ambiente",
        "tab": "99b52889.c22d4",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34cc840d.ecb37c",
        "type": "ui_group",
        "z": "",
        "name": "MONÓXIDO DE CARBONO",
        "tab": "99b52889.c22d4",
        "order": 4,
        "disp": true,
        "width": 22,
        "collapse": false
    },
    {
        "id": "36425290.5bb2c6",
        "type": "ui_group",
        "z": "",
        "name": "Calidad del aire no calibrados",
        "tab": "99b52889.c22d4",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9c501d0.50fb26",
        "type": "ui_group",
        "z": "",
        "name": "MATERIAL PARTICULADO",
        "tab": "99b52889.c22d4",
        "order": 5,
        "disp": true,
        "width": 22,
        "collapse": false
    },
    {
        "id": "8b13c2ef.3c2538",
        "type": "ui_group",
        "z": "",
        "name": "Datetime de muestreo",
        "tab": "99b52889.c22d4",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "99b52889.c22d4",
        "type": "ui_tab",
        "z": "",
        "name": "UNAB Viña",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]