raspberry/.node-red/.flows_raspberrypi.json.backup
[{"id":"bfd286.1bcab578","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"d65e44d7.9788f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b3859026.a92f2","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"9e7a4c12.052c4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"b5a3dfb2.622908","type":"ui_group","z":"","name":"AM2315","tab":"9e7a4c12.052c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b2db9a.f59a6c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fde28fcf.8fed68","type":"ui_group","z":"","name":"Timestamp","tab":"9e7a4c12.052c4","order":2,"disp":true,"width":"6","collapse":false},{"id":"1288791f.9b5957","type":"xmpp-server","z":"","user":"rasp01@10.40.6.9","nickname":"rasp01"},{"id":"7ce956b2.34b3c","type":"xmpp-server","z":"","user":"raspiDepto@192.168.50.246","nickname":"raspiDepto"},{"id":"6571ac3d.83702c","type":"ui_group","z":"","name":"Medio Ambiente","tab":"9e7a4c12.052c4","disp":true,"width":"6","collapse":false},{"id":"a3fe03a9.076e5","type":"serial in","z":"bfd286.1bcab578","name":"Arduino","serial":"b3859026.a92f2","x":122,"y":117,"wires":[["b863673f.84b168"]]},{"id":"b863673f.84b168","type":"json","z":"bfd286.1bcab578","name":"","property":"payload","action":"","pretty":false,"x":285,"y":117,"wires":[["7bd235d8.4e4e04","2dd69671.236142","2e5ac7c.8e251b8","9f6bb12c.cff038"]]},{"id":"7bd235d8.4e4e04","type":"function","z":"bfd286.1bcab578","name":"AM2315","func":"var temperatura = {payload: msg.payload.Temperature};\nvar humedad = {payload: msg.payload.Humidity};\n\nreturn [temperatura, humedad];","outputs":2,"noerr":0,"x":457,"y":60,"wires":[["bcb07985.dd69c8"],["41b2cea4.2ee89"]],"outputLabels":["Temperatura","Humedad"]},{"id":"bcb07985.dd69c8","type":"ui_gauge","z":"bfd286.1bcab578","name":"Temperatura","group":"b5a3dfb2.622908","order":0,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURA","label":"°C","format":"{{value}}","min":"-10","max":"50","colors":["#0080c0","#00b500","#ca3838"],"seg1":"","seg2":"","x":646,"y":37,"wires":[]},{"id":"41b2cea4.2ee89","type":"ui_gauge","z":"bfd286.1bcab578","name":"Humedad","group":"b5a3dfb2.622908","order":0,"width":0,"height":0,"gtype":"gage","title":"HUMEDAD","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":637,"y":79,"wires":[]},{"id":"2dd69671.236142","type":"function","z":"bfd286.1bcab578","name":"Medio Ambiente","func":"var windSpeed = {payload: msg.payload.WindSpeed};\nvar windDirection = {payload: msg.payload.WindDirection};\nvar pressure = {payload: msg.payload.Pressure};\nreturn [windSpeed, windDirection, pressure];","outputs":3,"noerr":0,"x":477,"y":158,"wires":[["1f7bff57.8f1851"],["656de090.3613a8"],["c289ccdb.46ae"]],"outputLabels":["Wind Speed","Wind Direction","Pressure"]},{"id":"1f7bff57.8f1851","type":"ui_gauge","z":"bfd286.1bcab578","name":"Velocidad Viento","group":"6571ac3d.83702c","order":0,"width":0,"height":0,"gtype":"gage","title":"VELOCIDAD VIENTO","label":"Km/h","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":685,"y":125,"wires":[]},{"id":"656de090.3613a8","type":"ui_gauge","z":"bfd286.1bcab578","name":"Dirección Viento","group":"6571ac3d.83702c","order":0,"width":0,"height":0,"gtype":"compass","title":"DIRECCIÓN VIENTO","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":676,"y":166,"wires":[]},{"id":"c289ccdb.46ae","type":"ui_gauge","z":"bfd286.1bcab578","name":"Presión","group":"6571ac3d.83702c","order":0,"width":0,"height":0,"gtype":"gage","title":"PRESIÓN AMBIENTAL","label":"Pa","format":"{{value}}","min":0,"max":"250000","colors":["#0080ff","#00b500","#ca3838"],"seg1":"","seg2":"","x":657,"y":207,"wires":[]},{"id":"9f6bb12c.cff038","type":"simpletime","z":"bfd286.1bcab578","name":"","x":474,"y":253,"wires":[["b7ecb3f3.c39ac8"]]},{"id":"82e55d27.d65a4","type":"function","z":"bfd286.1bcab578","name":"SaveFile","func":"var timestamp = msg.mydate + \" \" + msg.mytimes;\nvar temperatura = msg.payload.Temperature;\nvar humedad = msg.payload.Humidity;\nvar windSpeed = msg.payload.WindSpeed;\nvar windDirection = msg.payload.WindDirection;\nvar pressure = msg.payload.Pressure;\nmsg.payload = timestamp + \";\" + temperatura + \";\" + humedad + \";\" + windSpeed + \";\" + windDirection + \";\" + pressure;\nreturn msg;","outputs":1,"noerr":0,"x":661,"y":309,"wires":[["38ac27bf.1297f8"]]},{"id":"38ac27bf.1297f8","type":"file","z":"bfd286.1bcab578","name":"File","filename":"/home/pi/IoT/datalog/log.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":806,"y":309,"wires":[[]]},{"id":"2e5ac7c.8e251b8","type":"debug","z":"bfd286.1bcab578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":253,"y":40,"wires":[]},{"id":"b7ecb3f3.c39ac8","type":"function","z":"bfd286.1bcab578","name":"","func":"var temp = flow.get(\"temp\")||0;\nvar hum = flow.get(\"hum\")||0;\nvar ws = flow.get(\"ws\")||0;\nvar wd = flow.get(\"wd\")||0;\nvar time = flow.get(\"time\")||0;\ntemp = msg.payload.Temperature;\nhum = msg.payload.Humidity;\nws = msg.payload.WindSpeed;\nwd = msg.payload.WindDirection;\ntime = msg.mytimes;\nflow.set(\"temp\",temp);\nflow.set(\"hum\",hum);\nflow.set(\"ws\",ws);\nflow.set(\"wd\",wd);\nflow.set(\"time\",time);","outputs":1,"noerr":0,"x":596,"y":407,"wires":[[]]},{"id":"a4fb58bc.4ee9f8","type":"inject","z":"d65e44d7.9788f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":163.49998474121094,"y":110,"wires":[["d592878b.67134"]]},{"id":"d592878b.67134","type":"function","z":"d65e44d7.9788f","name":"timestamp","func":"var timestamp = new Date.now();\nmsg = {payload: timestamp}\nreturn msg;","outputs":1,"noerr":0,"x":388.49998474121094,"y":112.19999694824219,"wires":[["c139b490.cc83b"]]},{"id":"c139b490.cc83b","type":"debug","z":"d65e44d7.9788f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":608.4999847412109,"y":113.39999389648438,"wires":[]}]